
.home-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.sign-in-button {
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color:transparent;
    color: black;
    border:10px rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    outline: 10px black;
  }
  
  .sign-in-button:hover {
    background-color: hsl(213, 18%, 90%);
  }
  
  
  .h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ce0000;
    font-size: 3rem;
    text-shadow: 7px 7px 7px pink;
  }