
.Match {
    padding: 10px; 
    
  }
  
  .liked-person h3 {
    margin-top: 0;
    text-align: center; 
  }
  
  .liked-person {
    color:white;
  padding: 10px 24px;
  font-size: 16px;
  border: 1px solid grey;
  border-radius: 8px;
  width: 200px;
  margin-bottom: 12px;
  background-color: hotpink;
  display: inline-block;
   gap:15px;
  margin: 5px;
 

  }
  
  .name{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 900;
  }
  .age{
    text-align: center; 
    font-size: 120%;
  }
  .gender{
    text-align: center;
    font-size: 120%;
  }
  .location{
    text-align: center;
    font-size: 120%;
  }
  .heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }