.parent-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    color: white; 
  }
  
  .heading-container {
    margin-top: 20px; 
  }
  
  .button-container {
    margin-top: 20px; 
  }
  
  .sign-in-button {
    background-color: #007bff;
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer;
  }