.card {
    margin-top: 0px;
    background-color: rgba(235, 102, 202, 0.432);
    border-radius: 5px;
    width: 24rem;
    border: 3px solid rgba(200, 114, 226, 0.507);
    box-shadow: 3px 3px 3px rgb(172, 90, 18);
    display:inline-block;
    max-width: 20rem;

}
.big-Container{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 20px 0; 
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 10px; 
    width: 70%;
    box-shadow: 5px 5px 6px palevioletred;
}


.like-button {
    font-size: 35px; /* Larger emoji */
    border: none;
    background: none;
    cursor: pointer;

}
