.home-page {
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
  }
  
  .homepage {
    text-align: center;
  }
  
  .homepage img {
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
  }
  
  .p1 {
    font-size: 40px; 
    margin-bottom: 50px; 
    margin-top: 20px;
  }
  